body {
    background: url("../images/background/bg_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}

#banner {
    font-family: Monoton;
    font-size: 100px;
    margin-top: 3%;
}

#game_area {
    /*background-image: linear-gradient( rgba(255, 1, 221, 0.308), rgba(225, 1, 255, 0.692), rgba(175, 1, 255, 0.76));*/
    background-color: rgba(204, 1, 255, 0.308);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    margin-top: 2%;
    border-radius: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 65%;
    height: 600px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.74), 0 40px 60px 0 rgba(175, 2, 255, 0.856);
}

.start,
.reset {
    font-weight: 500;
    margin-top: 1%;
    float: left;
    padding: 5px;
    border: 2px solid blueviolet;
    border-radius: 5px;
}

.start:hover,
.reset:hover {
    background-color: aqua;
}

.time {
    color: white;
    font-family: Orbitron;
    font-size: 25px;
}

#timer_area {
    text-align: center;
    margin: 5% 0 0 3%;
    height: 150px;
    background: rgba(0, 0, 0, 0.603);
    border-radius: 5px;
    border: 2px solid rgba(255, 0, 0, 0.644);
}

.countdown,
.countdown h3 {
    font-family: Orbitron;
    font-size: 70px;
    margin-bottom: 1%;
    color: red;
}

#question {
    background-color: rgba(245, 244, 245, 0.459);
    border: 2px solid rgba(255, 0, 0, 0.644);
    border-radius: 5px;
    max-height: 150px;
    margin: 5% 0 0 2%;
}

#question h3 {
    margin: 5% auto 3% auto;
    text-align: justify;
    color: white;
    text-shadow: 2px 2px black;
}

.answer_area {
    background-color: rgba(250, 219, 250, 0.534);
    border: 2px solid rgba(255, 0, 0, 0.644);
    border-radius: 5px;
    height: 320px;
    margin: 1% 0 0 1%;
}

#answer {
    margin: 5% 0 0 0;
}

.answerCh {
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    padding: 5px;
    color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.603);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.74), 0 40px 60px 0 rgba(175, 2, 255, 0.856);
}

.answerCh:hover {
    background-color: aqua;
}

@media only screen and (max-width: 1300px) {
    #banner {
        font-size: 80px;
    }
    .time {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1100px) {
    #banner {
        font-size: 70px;
    }
    #banner img {
        margin-top: 1%;
        width: 10%;
    }
    .time {
        font-size: 18px;
    }
    #game_area {
        margin-top: 1%;
    }
}

@media only screen and (max-width: 800px) {
    #banner {
        font-size: 50px;
    }
    #banner img {
        margin-top: 1%;
        width: 10%;
    }
    .start,
    .reset {
        font-size: 10px;
    }
    .time {
        margin: 1% 0 0 1%;
        font-size: 14px;
    }
    #timer_area {
        height: 100px;
    }
    #game_area {
        margin: 1% 0 15% 0;
        height: 420px;
    }
    .countdown,
    .countdown h3 {
        font-size: 50px;
    }
    #question h3,
    #answer h3 {
        font-size: 18px;
    }
    .answer_area {
        height: 225px;
        margin: 1% 0 0 1%;
    }
    .answerCh {
        width: 30%;
        margin: 1% auto;
        font-size: 14px;
    }
    #answer img {
        width: 35%
    }
    @media only screen and (max-width: 500px) {
        #banner {
            margin-left: 5%;
            font-size: 40px;
        }
        #banner img {
            margin-top: 1%;
            width: 10%;
        }
        .start,
        .reset {
            font-size: 10px;
        }
        .time {
            margin: 1% 0 0 1%;
            font-size: 14px;
        }
        #timer_area {
            margin: 5% auto 5% auto;
            width: 60%;
            height: 100px;
        }
        #game_area {
            margin: 0 auto 5% auto;
            height: 470px;
        }
        .countdown,
        .countdown h3 {
            font-size: 50px;
        }
        #question {
            width: 90%;
            margin: 0 auto 3% auto;
            height: 95px;
        }
        #question h3,
        #answer h3 {
            font-size: 16px;
        }
        #answer h4 {
            font-size: 14px;
        }
        .answer_area {
            height: 180px;
            margin: 0 auto 5% auto;
        }
        .answerCh {
            width: 80%;
            margin: 1% auto;
            font-size: 14px;
        }
        #answer img {
            width: 80%
        }
    }
}